{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/static/css/freamwork/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/freamwork/aos/aos.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!----===== Boxicons CSS ===== -->
    <link rel="stylesheet" href="/static/css/freamwork/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>SAFARBEK.uz</title>
</head>

<body>
    <div class="loader-section active">
        <div class="loader-wrapper">
            <div class="loader">
                <div class="loader loader-inner"></div>
            </div>
        </div>
    </div>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <i class="bx bx-coder"></i>
                </span>

                <div class="text logo-text">
                    <span class="name">Safarbek</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>

            <i class='fas toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li>
                        <a class="navigator" onclick="page(0)">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>

                    <li>
                        <a class="navigator" onclick="page(1)">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">About</span>
                        </a>
                    </li>

                    <li>
                        <a class="navigator" onclick="page(2)">
                            <i class='bx bx-file icon'></i>
                            <span class="text nav-text">Practise</span>
                        </a>
                    </li>

                    <li>
                        <a class="navigator" onclick="page(3)">
                            <i class='bx bx-server icon'></i>
                            <span class="text nav-text">Rewards</span>
                        </a>
                    </li>
                    <li>
                        <a class="navigator" onclick="page(4)">
                            <i class='bx bx-envelope icon'></i>
                            <span class="text nav-text">Contact</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <ul class="menu-links">
                    <li>
                        <label for="style1" class="web-color">
                            <h4 class="d-inline">change color</h4>
                        </label>
                        <input type="color" value="#9948db" onchange="Set(this.value)" class="color" id="style1">
                    </li>
                </ul>

            </div>
        </div>

    </nav>

    <header class="home ">

        <section class="hero page active">
            <div class="row">
                <div class="col-lg-8">
                    <br><br><br><br><br><br>
                    <h1 data-aos="fade-down" data-aos-easing="ease-in-sine">
                        Safarbek Solijonov</h1>
                    <p data-aos="fade-up" data-aos-easing="ease-in-sine">I'm <span class="typed"
                            data-typed-items="Web Developer, Freelancer,"></span></p>
                </div>
                <div class="col-lg-4">
                    <span class="Sphere"></span>
                </div>
            </div>
        </section>
        <section class="page">
            <br>
            <h1>About Myself</h1>
                    <h1 class="mt-5" data-aos="fade-down" data-aos-easing="ease-in-sine">UI/UX Designer, Robobtic & Web developer</h1>
                    <h4 data-aos="fade-up" data-aos-easing="ease-in-sine">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul data-aos="fade-left" data-aos-easing="ease-in-sine">
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>Birthday:</strong>
                                    <span>27 FEB 2007</span>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>github:</strong>
                                    <a href="https://github.com/safarbek0227/" class="text-light">@safarbek0227</a>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>Phone:</strong>
                                    <a href="tel:+998972361677" class="text-light"> +998 97 236 16 77</a>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>City:</strong>
                                    <span>Andijon</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul data-aos="fade-right" data-aos-easing="ease-in-sine">
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>Age:</strong>
                                    <span>14</span>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>degree:</strong>
                                    <span>Junior</span>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>Email:</strong>
                                    <span>SafarbekSolijonov@gmail.com</span>
                                </li>
                                <li>
                                    <i class="fas fa-chevron-right"></i> 
                                    <strong>Freelance:</strong>
                                    <span>available</span>
                                </li>
                            </ul>
                        </div>
                    </div>
        </section>
        <section class="page">
            <h1>My Practice</h1>
            <br><br>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="95" data-name="html">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="90" data-name="CSS">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="87" data-name="JS">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="90" data-name="Bootstrap">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="65" data-name="Vue">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="55" data-name="JQUERY">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="93" data-name="Python">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 mt-3">
                    <div class="circle_percent" data-percent="78" data-name="django">
                        <div class="circle_inner">
                            <div class="round_per"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page">
            <h1>My Rewards</h1>
            <br>
            <div class="row rewards">
                <div class="col-md-6 col-lg-3 mt-3">
                    <img src="/static/img/android.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3 mt-3">
                    <img src="/static/img/arduino.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3 mt-3">
                    <img src="/static/img/firstRegion.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3 mt-3">
                    <img src="/static/img/lineFollower.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3  mt-3">
                    <img src="/static/img/rectorcup.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3  mt-3">
                    <img src="/static/img/arduino.png" alt="">
                </div>
            </div>
        </section>
        <section class="page contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                        ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    <div class="col-lg-7 mt-5 mt-lg-0">
                        <div class="info">
                            <form>
                                <div class="form-row">
                                  <div class="form-group col-md-12">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="name" autocomplete="off" required/>
                                    <div class="validate"></div>
                                  </div>
                                  <div class="form-group col-md-12">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off"  required/>
                                    <div class="validate"></div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="name">Message</label>
                                  <textarea class="form-control" name="message" rows="10" placeholder="Please write something for us" required></textarea>
                                  <div class="validate"></div>
                                </div>
                                <button type="submit" class="btn submit">Send Message</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-stretch order-lg-first">
                        <div class="info">
                            <div class="address">
                                <i class="fas fa-map"></i>
                                <h4>Location:</h4>
                                <p>Asaka Niyozbotir Yangihayot</p>
                            </div>

                            <div class="email">
                                <i class=" fas fa-envelope"></i>
                                <h4>Email:</h4>
                                <p>SafarbekSolijonov@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <h4>Call:</h4>
                                <p>+998972361677</p>
                            </div>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d4776.51402618231!2d72.17672041446009!3d40.59146283094696!3m2!1i1024!2i768!4f13.1!5e1!3m2!1suz!2s!4v1644853366388!5m2!1suz!2s"
                                style="border:0; width: 100%; height: 290px;" allowfullscreen=""
                                loading="lazy"></iframe>
                        </div>

                    </div>


                </div>

            </div>
        </section>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"> </script>
    <script src="/static/js/freamwork/jquery.min.js"></script>
    <script src="/static/js/freamwork/typed.js/typed.min.js"></script>
    <script src="/static/js/freamwork/aos/aos.js"></script>
    <script src="/static/js/script.js"></script>

</body>

</html>